$box-shadow-lg: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$primary-bg: #fefefe;
$primary-grey: #f1f4fa;
$primary-color: #664de5;
$primary-hover: #5f47d7;
$heading-text: #151b28;
$sub-heading-text: #5c6984;
$label-text: #364259;
$input-text: #8b97b1;
