@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "template";
@import "components";
@import "pages";

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

h1,
p {
  margin: 0;
}
